USE [db_tanphunong]
GO
/****** Object:  Table [dbo].[tb_BaiViet]    Script Date: 11/10/2017 10:02:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_BaiViet](
	[MaBV] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBaiViet] [int] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NguoiViet] [varchar](50) NULL,
	[NoiBo] [bit] NULL,
	[NgayViet] [datetime] NULL,
 CONSTRAINT [PK_tb_BaiViet] PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_BaiVietTrans]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_BaiVietTrans](
	[MaBV] [int] NOT NULL,
	[TieuDeTrans] [nvarchar](250) NULL,
	[TomTatTrans] [ntext] NULL,
	[NoiDungTrans] [ntext] NULL,
	[NgonNgu] [varchar](5) NOT NULL,
 CONSTRAINT [PK_tb_BaiVietTrans] PRIMARY KEY CLUSTERED 
(
	[MaBV] ASC,
	[NgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_DoiNguQL_Trans]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_DoiNguQL_Trans](
	[MaQL] [int] NOT NULL,
	[NgonNgu] [varchar](5) NOT NULL,
	[TenNguoiQL] [nvarchar](200) NULL,
	[ChucVu] [nvarchar](100) NULL,
	[MoTa] [ntext] NULL,
	[CauNoi] [ntext] NULL,
 CONSTRAINT [PK_tb_DoiNguQL_Trans] PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC,
	[NgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_DoiNguQuanLy]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DoiNguQuanLy](
	[MaQL] [int] IDENTITY(1,1) NOT NULL,
	[HinhAnh] [ntext] NULL,
	[ThuBac] [int] NULL,
 CONSTRAINT [PK_tb_DoiNguQuanLy] PRIMARY KEY CLUSTERED 
(
	[MaQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_DoiTac]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DoiTac](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[TenDT] [nvarchar](100) NULL,
	[HinhAnh] [ntext] NULL,
 CONSTRAINT [PK_tb_DoiTac] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_LoaiSP]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_LoaiSP](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[LoaiCha] [int] NULL,
	[TrangThai] [bit] NULL,
	[NguoiThem] [varchar](50) NULL,
 CONSTRAINT [PK_tb_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_LoaiSPTrans]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_LoaiSPTrans](
	[MaLoaiSP] [int] NOT NULL,
	[TenLoaiSPTrans] [nvarchar](100) NULL,
	[MoTaTrans] [nvarchar](200) NULL,
	[NgonNgu] [varchar](5) NOT NULL,
 CONSTRAINT [PK_tb_LoaiSPTrans] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC,
	[NgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_NguoiDung]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_NguoiDung](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NULL,
	[TrangThai] [bit] NULL,
	[LoaiND] [varchar](50) NULL,
	[ThoiGianDNCuoi] [datetime] NULL,
 CONSTRAINT [PK_tb_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_NhatKy]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NhatKy](
	[MaNK] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDung] [nvarchar](50) NULL,
	[DoiTuong] [nvarchar](50) NULL,
	[ThaoTac] [nvarchar](250) NULL,
	[MaDoiTuong] [int] NULL,
 CONSTRAINT [PK_tb_NhatKy] PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_PhanHoi]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PhanHoi](
	[MaPH] [int] NOT NULL,
	[NoiDung] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
	[Email] [nvarchar](200) NULL,
	[SDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_PhanHoi] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_SanPham]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[QuyCachDongGoi] [nchar](100) NULL,
	[XuatXu] [nchar](100) NULL,
	[GiaThanh] [money] NULL,
	[TrangThai] [bit] NULL,
	[MaLoai] [int] NOT NULL,
	[NguoiThem] [varchar](50) NULL,
 CONSTRAINT [PK_tb_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_SanPhamTrans]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_SanPhamTrans](
	[MaSP] [int] NOT NULL,
	[TenSanPhamTrans] [nchar](100) NULL,
	[UuDienTrans] [ntext] NULL,
	[DacDiemTrans] [ntext] NULL,
	[ThanhPhanChinhTrans] [ntext] NULL,
	[LuuYTrans] [ntext] NULL,
	[QuyCachDongGoiTrans] [nchar](100) NULL,
	[CachDungTrans] [ntext] NULL,
	[NgonNgu] [varchar](5) NOT NULL,
 CONSTRAINT [PK_tb_SanPhamTrans] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[NgonNgu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[tb_TuyChon]    Script Date: 11/10/2017 10:02:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_TuyChon](
	[MaTuyChon] [int] IDENTITY(1,1) NOT NULL,
	[TenTuyChon] [varchar](50) NULL,
	[NoiDungTuyChon] [ntext] NULL,
	[Nhom] [varchar](50) NULL,
 CONSTRAINT [PK_tb_TuyChon] PRIMARY KEY CLUSTERED 
(
	[MaTuyChon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
INSERT [dbo].[tb_DoiNguQL_Trans] ([MaQL], [NgonNgu], [TenNguoiQL], [ChucVu], [MoTa], [CauNoi]) VALUES (2, N'en', N'Dinh Tien Gioi', N'Developer', N'MoTa En', N'SaidEn')
INSERT [dbo].[tb_DoiNguQL_Trans] ([MaQL], [NgonNgu], [TenNguoiQL], [ChucVu], [MoTa], [CauNoi]) VALUES (2, N'vi', N'Đinh Tiên Giỏi', N'Lập trình viên', N'Mota VN', N'Tiền là giấy, đốt là cháy')
SET IDENTITY_INSERT [dbo].[tb_DoiNguQuanLy] ON 

INSERT [dbo].[tb_DoiNguQuanLy] ([MaQL], [HinhAnh], [ThuBac]) VALUES (2, N'test', 1)
SET IDENTITY_INSERT [dbo].[tb_DoiNguQuanLy] OFF
SET IDENTITY_INSERT [dbo].[tb_LoaiSP] ON 

INSERT [dbo].[tb_LoaiSP] ([MaLoaiSP], [LoaiCha], [TrangThai], [NguoiThem]) VALUES (4, NULL, 1, NULL)
INSERT [dbo].[tb_LoaiSP] ([MaLoaiSP], [LoaiCha], [TrangThai], [NguoiThem]) VALUES (6, NULL, 1, NULL)
INSERT [dbo].[tb_LoaiSP] ([MaLoaiSP], [LoaiCha], [TrangThai], [NguoiThem]) VALUES (7, 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[tb_LoaiSP] OFF
INSERT [dbo].[tb_LoaiSPTrans] ([MaLoaiSP], [TenLoaiSPTrans], [MoTaTrans], [NgonNgu]) VALUES (4, N'Fertilizers', N'Fertilizers', N'en')
INSERT [dbo].[tb_LoaiSPTrans] ([MaLoaiSP], [TenLoaiSPTrans], [MoTaTrans], [NgonNgu]) VALUES (4, N'Phân bón', N'Phân bón', N'vi')
INSERT [dbo].[tb_LoaiSPTrans] ([MaLoaiSP], [TenLoaiSPTrans], [MoTaTrans], [NgonNgu]) VALUES (6, N'Pesticides', N'Pesticides', N'en')
INSERT [dbo].[tb_NguoiDung] ([TenDangNhap], [MatKhau], [TrangThai], [LoaiND], [ThoiGianDNCuoi]) VALUES (N'admin', N'21232f297a57a5a743894a0e4a801fc3', 1, N'0,3', NULL)
INSERT [dbo].[tb_NguoiDung] ([TenDangNhap], [MatKhau], [TrangThai], [LoaiND], [ThoiGianDNCuoi]) VALUES (N'dtg0106', N'21232f297a57a5a743894a0e4a801fc3', 1, N'1,2', NULL)
SET IDENTITY_INSERT [dbo].[tb_NhatKy] ON 

INSERT [dbo].[tb_NhatKy] ([MaNK], [NguoiDung], [DoiTuong], [ThaoTac], [MaDoiTuong]) VALUES (1, N'admin', N'Trang chủ', N'10/11/2017 01:08:14 - Sửa nội dung header', NULL)
INSERT [dbo].[tb_NhatKy] ([MaNK], [NguoiDung], [DoiTuong], [ThaoTac], [MaDoiTuong]) VALUES (2, N'admin', N'Trang chủ', N'10/11/2017 01:08:15 - Sửa nội dung header', NULL)
INSERT [dbo].[tb_NhatKy] ([MaNK], [NguoiDung], [DoiTuong], [ThaoTac], [MaDoiTuong]) VALUES (3, N'admin', N'Loại Sản Phẩm', N'10/11/2017 02:50:01 - Thêm loại sản phẩm ""', 1)
SET IDENTITY_INSERT [dbo].[tb_NhatKy] OFF
SET IDENTITY_INSERT [dbo].[tb_TuyChon] ON 

INSERT [dbo].[tb_TuyChon] ([MaTuyChon], [TenTuyChon], [NoiDungTuyChon], [Nhom]) VALUES (3, N'NameEnterprise', N'', NULL)
SET IDENTITY_INSERT [dbo].[tb_TuyChon] OFF
ALTER TABLE [dbo].[tb_BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_tb_BaiViet_tb_NguoiDung] FOREIGN KEY([NguoiViet])
REFERENCES [dbo].[tb_NguoiDung] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tb_BaiViet] CHECK CONSTRAINT [FK_tb_BaiViet_tb_NguoiDung]
GO
ALTER TABLE [dbo].[tb_BaiVietTrans]  WITH CHECK ADD  CONSTRAINT [FK_tb_BaiVietTrans_tb_BaiViet] FOREIGN KEY([MaBV])
REFERENCES [dbo].[tb_BaiViet] ([MaBV])
GO
ALTER TABLE [dbo].[tb_BaiVietTrans] CHECK CONSTRAINT [FK_tb_BaiVietTrans_tb_BaiViet]
GO
ALTER TABLE [dbo].[tb_DoiNguQL_Trans]  WITH CHECK ADD  CONSTRAINT [FK_tb_DoiNguQL_Trans_tb_DoiNguQuanLy] FOREIGN KEY([MaQL])
REFERENCES [dbo].[tb_DoiNguQuanLy] ([MaQL])
GO
ALTER TABLE [dbo].[tb_DoiNguQL_Trans] CHECK CONSTRAINT [FK_tb_DoiNguQL_Trans_tb_DoiNguQuanLy]
GO
ALTER TABLE [dbo].[tb_LoaiSP]  WITH CHECK ADD  CONSTRAINT [FK_tb_LoaiSP_tb_LoaiSP] FOREIGN KEY([LoaiCha])
REFERENCES [dbo].[tb_LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[tb_LoaiSP] CHECK CONSTRAINT [FK_tb_LoaiSP_tb_LoaiSP]
GO
ALTER TABLE [dbo].[tb_LoaiSP]  WITH CHECK ADD  CONSTRAINT [FK_tb_LoaiSP_tb_NguoiDung] FOREIGN KEY([NguoiThem])
REFERENCES [dbo].[tb_NguoiDung] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tb_LoaiSP] CHECK CONSTRAINT [FK_tb_LoaiSP_tb_NguoiDung]
GO
ALTER TABLE [dbo].[tb_LoaiSPTrans]  WITH CHECK ADD  CONSTRAINT [FK_tb_LoaiSPTrans_tb_LoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[tb_LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[tb_LoaiSPTrans] CHECK CONSTRAINT [FK_tb_LoaiSPTrans_tb_LoaiSP]
GO
ALTER TABLE [dbo].[tb_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_tb_SanPham_tb_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tb_LoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[tb_SanPham] CHECK CONSTRAINT [FK_tb_SanPham_tb_LoaiSP]
GO
ALTER TABLE [dbo].[tb_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_tb_SanPham_tb_NguoiDung] FOREIGN KEY([NguoiThem])
REFERENCES [dbo].[tb_NguoiDung] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tb_SanPham] CHECK CONSTRAINT [FK_tb_SanPham_tb_NguoiDung]
GO
ALTER TABLE [dbo].[tb_SanPhamTrans]  WITH CHECK ADD  CONSTRAINT [FK_tb_SanPhamTrans_tb_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tb_SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tb_SanPhamTrans] CHECK CONSTRAINT [FK_tb_SanPhamTrans_tb_SanPham]
GO
